/* * {
  box-sizing: border-box;
} */
/*ul here because it would not remove the padding on the ul in the class*/
ul {
  padding: 0;
  list-style-type: none;
}

body {
  font-size: 100%;
  font-family: "benton-sans", sans serif;
  margin: 0;
  padding: 0;
}
h2 {
  font-weight: 500;
  font-style: normal;
  font-size: 2.25em;
  color: FFFFFF;
}
h4 {
  font-weight: 400;
  font-style: normal;
  font-size: 1.125 em;
  color: FFFFFF;
}
h1 {
  font-weight: 600;
  font-style: normal;
  font-size: 64px;
  color: #e17809;
  text-align: center;
}
h3 {
  font-weight: 600;
  font-style: normal;
  font-size: 1.33 em;
}
p {
  font-weight: 500;
  font-style: normal;
  line-height: 32px;
}

a {
  color: #ffffff;
  text-decoration: underline;
}

a:hover {
  color: #e17809;
  text-decoration: none;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 1028px;
  background-color: #212a59;
}
.instructions-section {
  width: 100%;
  height: 1294px;
  background-color: #f7f7f7;
}

.instructions-section:after {
  content: none;
}

.instructions {
  display: flex;
  justify-content: space-around;
}

.center-headline {
  text-align: center;
  width: 100%;
  background: cover;
  background-color: #f7f7f7;
  margin: 0;
  padding: 80px 0px;
}

.tagline {
  width: 314px;
  position: absolute;
  left: 391px;
  top: 258px;
}

.made {
  width: 249px;
  position: absolute;
  left: 391px;
  top: 527px;
}

.orange-font {
  color: #e17809;
}

.lost-password {
  left: 792px;
  top: 103px;
  position: absolute;
}

.logo {
  left: 126px;
  top: 131px;
  position: absolute;
}
.app-title {
  left: 391px;
  top: 138px;
  position: absolute;
}

.lines {
  top: 816px;
  position: absolute;
}

.vermonster {
  left: 391px;
  top: 570px;
  position: absolute;
}

.step-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 94px;
  position: absolute;
  height: 94px;
  left: 236px;
  top: 1246px;
}

.step-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 94px;
  position: absolute;
  height: 94px;
  left: 675px;
  top: 1246px;
}

.step-3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 94px;
  position: absolute;
  height: 94px;
  left: 1114px;
  top: 1246px;
}

.step-1-header {
  position: absolute;
  width: 206px;
  height: 23px;
  left: 180px;
  top: 1846px;
}

.step-1-ul {
  position: absolute;
  width: 296px;
  height: 372px;
  left: 180px;
  top: 1900px;
  line-height: 32px;
  font-weight: 500;
  font-style: normal;
}

.step-2-header {
  position: absolute;
  width: 296px;
  height: 23px;
  left: 575px;
  top: 1846px;
}

.step-2-text {
  position: absolute;
  width: 296px;
  height: 372px;
  left: 574px;
  top: 1900px;
}

.step-3-header {
  position: absolute;
  width: 296px;
  height: 23px;
  left: 987px;
  top: 1846px;
}

.step-3-text {
  position: absolute;
  width: 296px;
  height: 372px;
  left: 987px;
  top: 1900px;
}

.section-two {
  display: flex;
  justify-content: space-around;
}
.medium {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 9.67%;
  right: 76.41%;
  top: 2277px;
  bottom: 26.83%;
}

.github {
  width: 100px;
  height: 100px;
}

.figma {
  width: 100px;
  height: 100px;
}
