---
---
@import 'normalize.css';
@import 'policy.css';
/*adobe-font*/
@import url("https://use.typekit.net/ytt2bqh.css");
/*font-family*/
$font: "Benton-sans";
$font-header: "Clone-rounded-latin";
/*font-size*/
$font-size-title: 72px;
$font-size-h1: 48px;
$font-size-h2: 36px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-body: 16px;
$font-size-link: 14px;
/*colors*/
$primary-orange: #E07926;
$secondary-blue: #212A59;
$white: #FFF;
$background-grey: #F9F9F9;
$text-black: #222222;

* {
  box-sizing: border-box;
}

body {
  font-family: $font;
  background-color: $background-grey;
}

.header {
  display: flex;
  background-color: $secondary-blue;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  padding-top: 20vh;

  .header-left {
    max-width: 500px;
    display: flex;
    margin-right: 1%;
    margin-left: 4%;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;

    .app-logo {
      width: 500px;
      height: 100px;
      align-self: flex-end;
      margin-bottom: 20px;
    }

    .advertisement {
      align-self: flex-end;
      width: 100%;
      height: auto;
      padding-left: 110px;

      .slogan {
        line-height: 130%;
      }
    }

    .app-store-badges {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 40px;

      a {
        width: 131px;
        max-width: 40%;
      }

      .badge {
        height: auto;
      }

      
      .apple-app-store {
        width: 93%;
        margin-left: 5%;
      }
    }

    .slogan {
      color: $white;
      font-weight: normal;
      font-size: $font-size-h2;
      margin-top: 0;
      margin-bottom: 60px;
    }

    .built-by {
      color: $white;
      font-size: $font-size-h4;
      font-weight: normal;
      margin: 0 auto 8px auto;
    } 

    .vermonster-logo {
      width: 70%;
    }
  }

  .header-right {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    justify-content: flex-start;

    .lady {
      height: auto;
      width: 450px;
    }
  }
}

.how-it-works {
  height: auto;

  .how-it-works-title {
    font-family: $font-header;
    margin: 0;
    margin-bottom: 40px;
    padding-top: 30px;
    text-align: center;    
    font-size: $font-size-title;
    color: $primary-orange;
  }

  .workflow {
    .steps {
      flex-direction: row;
      display: flex;
      padding-top: 60px;
      padding-bottom: 60px;
      justify-content: center;

      .steps-text {
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 300px;
        margin-right: 32px;
        .text-container {
          width: 300px;
          .steps-title {
            font-size: $font-size-h3;
            font-weight: 400;
            color: $text-black;
            margin-bottom: 20px;
            margin-top: 0;
          }
    
          .steps-description {
            color: $text-black;
            font-size: $font-size-body;
            line-height: 150%;
          }
        }
      }
      .steps-img {
        display: flex;
        flex-direction: column;
        width: 190px;
        .iphone {
          height: 378px;
        }
      }
    }
    .steps:nth-of-type(1) {
      padding-top: 30px;
    }
    .accent-block {
      background: #E07926;
      color: white;
      .steps-text {
        background-color: #E07926;
        .text-container {
          .steps-title, .steps-description {
            color: white;
          }
        }
      }
    }
  }
}

.how-we-made-it {
  .logo-pattern-container {
    background-image: url("../marketing-images/pattern_graphic.svg");
    background-size: contain;
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 184px;

    .learn-how-title {
      color: $white;
      font-family: $font-header;
      font-size: $font-size-title;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px;

    .social-media {
      display: flex;
      width: 200px;
      flex-direction: column;
      align-items: center;
      margin-left: 45px;
      margin-right: 45px;

      .social-media-text {
        text-align: center;
        font-size: $font-size-h3;
        color: $text-black;
        margin-bottom: 40px;
        line-height: 130%;

        a {
          text-decoration: none;
          color: $primary-orange;
          cursor: pointer;
          display: inline-block;
          border-bottom: 3px solid $primary-orange;
        }
      }
    }
  }
}

.footer {
  background-color: $secondary-blue; 
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    font-size: $font-size-body;
    text-decoration: none;
    border-bottom: 1px solid white;
    cursor: pointer;
    color: $white;
    text-transform: uppercase;
  }

  a:hover {
    color: $primary-orange;
  }

  .contact-us {
    margin-right: 50px;
  }

  .privacy-policy {
    margin-left: 50px;
  }
}

/* SMALLEST DEVICES */
@media only screen and (max-width: 767px) {
  body {
    min-width: 300px;

    .header {
      height: auto;
      padding: 45px;
  
      .header-left {
        justify-content: center;
        align-items: center;
        flex: 1;
        
        .app-logo {
          height: auto;
          width: 100%;
          max-width: 275px;
          margin: 0 auto 10px auto;
        }
        .advertisement {
          margin: 0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-self: center;
          width: 80%;
          padding-left: 0;
  
          .slogan {
            font-size: 24px;
            line-height: 130%;
            text-align: center;
          }
  
          .app-store-badges {
            justify-content: center;
            margin-bottom: 30px;
          }
  
          .app-owner {
            display: flex;
            flex-direction: column;
            align-items: center;
  
            .built-by {
              font-size: 14px;
              font-weight: 300;
              margin: 0;
              margin-left: -100px;
            }
  
            .vermonster-logo {
              align-self: center;
              margin-bottom: 3%;
              width: 145px;
            }
          }
        }
      }
  
      .header-right {
        display: none;
      }
    }
  }
  
  
  .how-it-works {
    text-align: center;
    height: auto;
    padding: 0;

    .how-it-works-title {
      font-size: $font-size-h3;
      padding-top: 15px;
      margin-bottom: 10px;
    }

    .workflow {
      .steps {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        .steps-text {
          margin-right: 0;
          margin: 0 auto;
          .text-container {
            .steps-title {
              display: inline-block;
              margin: 0;
              font-size: $font-size-body;
            }
            .steps-description {
              display: inline-block;
              font-size: $font-size-link;
            }
          }
        }
        .steps-img {
          width: 100%;
        }
      }
    }
  }

  .how-we-made-it {
  
    .logo-pattern-container {
      height: 90px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
  
      .learn-how-title {
        font-size: $font-size-h3;
      }
    }
  
    .social-media-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin-top: 32px;
      padding-bottom: 24px;
  
      .social-media {
        width: 200px; 

        .social-logo {
          width: 50px;
          height: 50px;
        }
  
        .social-media-text {
          line-height: 130%;
          margin-top: 16px;
          font-size: $font-size-body;
        }
      }
    }
  }
  
  .footer {
    height: 60px;
    flex-direction: column;
    
    a {
      text-decoration: none;
      font-size: $font-size-link;
    }

    .contact-us {
      margin: 5px auto 0 auto;
    }

    .privacy-policy {
      margin: 10px auto 5px auto;
    }
  }
}

/* MIDSIZE TABLETS */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    height: auto;
    padding: 70px;

    .header-left {
      max-width: 350px;
      .app-logo {
        width: 350px;
        height: 100px;
        margin-bottom: 10px;
      }

      .advertisement {
        width: 100%;
        padding-left: 75px;
      }

      .slogan {
        font-size: 24px;
        margin-bottom: 36px;
      }

      .built-by {
        font-size: $font-size-link;
        margin-bottom: 0;
      }

      .vermonster-logo {
        width: 145px;
      }
    }

    .header-right {
      .lady {
        height: 300px;
        width: 300px;
      }
    }
  }

  .how-it-works {
    .how-it-works-title {
      padding-top: 15px;
      margin-bottom: 10px;
      font-size: $font-size-h1;
    }
    .workflow {
      .steps {
        padding-bottom: 30px;
        padding-top: 30px;
      }
    }
  }

  .how-we-made-it {
    .logo-pattern-container {
      .learn-how-title {
        font-size: $font-size-h1;
      }
    }
  }

  .footer {
    display: flex;
    height: 70px;
    flex-direction: column;
    flex-wrap: wrap;
    .contact-us {
      margin-right: 0;
      margin-bottom: 10px;
    }
    .privacy-policy {
      margin-left: 0;
    }
  }
}