---
---
@import 'normalize.css';
@import 'policy.css';
/*adobe-font*/
@import url("https://use.typekit.net/ytt2bqh.css");
/*font-family*/
$font: "Benton-sans";
$font-header: "Clone-rounded-latin";
/*font-size*/
$font-size-h1: 72px;
$font-size-h2: 36px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-body: 16px;
$font-size-link: 14px;
/*colors*/
$primary-orange: #E07926;
$secondary-blue: #212A59;
$white: #FFF;
$background-grey: #F9F9F9;
$text-black: #222222;

* {
  box-sizing: border-box;
}

body {
  font-family: $font;
}

.header {
  background-color: $secondary-blue;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  padding: 8%;

  .header-left {
    flex: 0.5;
    display: flex;
    margin-right: 1%;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    .app-logo {
      width: 500px;
      height: auto;
      align-self: flex-end;
    }

    .advertisement {
      align-self: flex-end;
      width: 380px;
      height: auto;
    }

    .app-store-badges {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 30px;

      a {
        width: 131px;
        max-width: 40%;
      }

      .badge {
        height: auto;
      }

      .apple-app-store {
        width: 93%;
        margin-left: 5%;
      }
    }

    .slogan {
      color: $white;
      font-weight: normal;
      font-size: $font-size-h2;
      margin-top: 0;
    }

    .built-by {
      color: $white;
      font-size: $font-size-h4;
      font-weight: normal;
      margin: 0 auto 8px auto;
    } 

    .vermonster-logo {
      width: 70%;
    }
  }

  .header-right {
    flex: 0.5;
    display: flex;
    margin-left: 1%;
    justify-content: flex-start;

    .lady {
      height: auto;
      width: 450px;
    }
  }
}

.how-it-works {
  background-color: $background-grey;
  height: auto;

  .how-it-works-title {
    font-family: $font-header;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 10px;
    text-align: center;    
    font-size: 48px;
    color: $primary-orange;
  }

  .workflow {
    .steps {
      flex-direction: row;
      display: flex;
      padding-top: 30px;
      padding-bottom: 30px;
      justify-content: center;

      .steps-text {
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 300px;
        margin-right: 32px;
        .text-container {
          width: 300px;
          .steps-title {
            font-size: $font-size-h3;
            font-weight: 600;
            color: $text-black;
            margin-bottom: 20px;
            margin-top: 0;
          }
    
          .steps-description {
            color: $text-black;
            font-size: $font-size-body;
            line-height: 1.5em;
          }
        }
      }
      .steps-img {
        display: flex;
        flex-direction: column;
        width: 190px;
        .iphone {
          height: 378px;
        }
      }
    }
    .accent-block {
      background: #E07926;
      color: white;
      .steps-text {
        .steps-title, .steps-description {
          color: white;
        }
      }
    }
  }
}

.how-we-made-it {
  background-color: $background-grey;

  .logo-pattern-container {
    background-image: url("../marketing-images/pattern_graphic.svg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 184px;

    .learn-how-title {
      color: $white;
      font-family: $font-header;
      font-size: 48px;
    }
  }

  .social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 60px;

    .social-media {
      width: 325px;
      display: flex;
      flex-direction: column;
      width: 200px;
      align-items: center;
      justify-content: center;
      justify-items: center;
      margin-bottom: 20px;
      margin-left: 75px;
      margin-right: 75px;

      .social-logo {
        width: 50px;
        height: 50px;
      }

      .social-media-text {
        text-align: center;
        font-size: $font-size-h3;
        color: $text-black;
        margin-bottom: 45px;

        a {
          text-decoration: underline;
          color: $primary-orange;
          cursor: pointer;
        }
      }
    }
  }
}

.footer {
  background-color: $secondary-blue; 
  height: 187px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    font-size: $font-size-link;
    text-decoration: underline;
    cursor: pointer;
    color: $white;
    text-transform: uppercase;
  }

  a:hover {
    color: $primary-orange;
  }

  .contact-us {
    margin-right: 50px;
  }

  .privacy-policy {
    margin-left: 50px;
  }
}

/* SMALLEST DEVICES */
@media only screen and (max-width: 767px) {
  body {
    min-width: 300px;
  }

  .header {
    height: auto;
    padding-bottom: 50px;

    .header-left {
      justify-content: center;
      align-items: center;
      flex: 1;
      
      .app-logo {
        height: auto;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
      }
      .advertisement {
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-self: center;
        width: 80%;

        .slogan {
          font-size: 24px;
          line-height: 130%;
          text-align: center;
        }

        .app-store-badges {
          justify-content: center;
          margin-bottom: 20px;
        }

        .app-owner {
          display: flex;
          flex-direction: column;

          .built-by {
            font-size: 14px;
            margin: 0 auto 1% 30%;
          }

          .vermonster-logo {
            align-self: center;
            margin-bottom: 3%;
            width: 40%;
          }
        }
      }
    }

    .header-right {
      display: none;
    }
  }
  
  .how-it-works {
    text-align: center;
    background-color: $background-grey;;
    height: auto;
    padding: 0;
    padding-top: 10px;

    .how-it-works-title {
      font-size: $font-size-h3;
    }

    .workflow {
      .steps {
        display: flex;
        flex-direction: column;
        align-content: center;
        .steps-text {
          margin-right: 0;
          margin: 0 auto;
          .text-container {
            .steps-title {
              display: inline-block;
              margin: 0;
              font-size: $font-size-body;
            }
            .steps-description {
              display: inline-block;
              font-size: $font-size-link;
            }
          }
        }
        .steps-img {
          width: 100%;
        }
      }
    }
  }

  .how-we-made-it {
    background-color: $background-grey;
  
    .logo-pattern-container {
      background-size: cover;
      height: 90px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
  
      .learn-how-title {
        font-size: $font-size-h3;
      }
    }
  
    .social-media-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin-top: 32px;
  
      .social-media {
        width: 200px;
        flex-direction: row;
        flex-wrap: wrap;

        .social-logo {
          width: 50px;
          height: 50px;
          margin-left: 0;
        }
  
        .social-media-text {
          font-size: $font-size-h3;
          line-height: 1.3em;
          margin-top: 16px;
          margin-bottom: 30px;
        }
      }
    }
  }
  
  .footer {
    height: 90px;
    flex-direction: column;

    .contact-us {
      margin: 20px auto 10px;
    }

    .privacy-policy {
      margin: 10px auto 20px;
    }
  }
}

/* MIDSIZE TABLETS */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    height: auto;

    .header-left {
      margin-left: 10%;

      .app-logo {
        align-self: flex-start;
        width: 400px;
      }

      .advertisement {
        align-self: flex-start;
      }

      .slogan {
        font-size: 24px;
      }

      .built-by {
        font-size: 16px;
      }

      .vermonster-logo {
        width: 40%;
      }
    }

    .header-right {
      .lady {
        width: 350px;
        margin-right: 10%;
      }
    }
  }

  .footer {
    height: 90px;
  }

  .how-we-made-it {
    background-color: $background-grey;
  
    .logo-pattern-container {
      background-image: url("../marketing-images/pattern_graphic.svg");
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 184px;
  
      .learn-how-title {
        color: $white;
        font-family: $font-header;
        font-size: 48px;
      }
    }
  
    .social-media-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding-top: 35px;
  
      .social-media {
        width: 325px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-bottom: 20px;
  
        .social-logo {
          width: 100px;
          height: 100px;
          margin-left: 30px;
        }
  
        .social-media-text {
          text-align: center;
          font-size: $font-size-h3;
          color: $text-black;
          margin-bottom: 45px;
  
          a {
            text-decoration: underline;
            color: $primary-orange;
            cursor: pointer;
          }
        }
      }
    }
  }
}

