---
---

.privacy-policy-body {
  padding: 20px 400px;
  line-height: 22px;
  color: #222222;

  .title {
    font-weight: normal;
  }

  .update {
    font-weight: 400;
    font-style: italic;
  }

  .subtitle {
    font-weight: 500;
  }

  .paragraph {
    font-weight: 300;
  }
}