---
---

.wrapper {
  display: flex;
  justify-content: center;
}

.privacy-policy-body {
  flex: 0.5;
  line-height: 22px;
  color: #222222;
  padding: 30px 0;

  .title {
    font-weight: normal;
  }

  .update {
    font-weight: 400;
    font-style: italic;
  }

  .subtitle {
    font-weight: 500;
  }

  .paragraph {
    font-weight: 300;
  }
}