/*fonts*/
$font: "Benton-sans";
$font-header: "Clone-rounded-latin";
/*font-size*/
$font-size-h1: 72px;
$font-size-h2: 36px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-body: 16px;
$font-size-link: 14px;
/*colors*/
$primary-orange: #E07926;
$secondary-blue: #212A59;
$white: #FFF;
$background-grey: #F9F9F9;
$text-black: #222222;